<div *ngIf="countries.length===0; else table" class="alert alert-warning text-center">
  No hay países que mostrar
</div>
<!-- <ul class="list-group">
  <li *ngFor="let country of countries" class="list-group-item">
    <img [src]='country.flags.svg' width="300" class="mt-3 mb-3">-{{country.capital}} - {{country.population}}
  </li>
</ul> -->
<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>País</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; index as i" class="align-middle">
        <td class="text-center"><b>{{i+1}}<br>{{country.flag}}</b></td>
        <td><img [src]='country.flags.svg' class="mt-3 mb-3" [alt]="country.name.common"></td>
        <td>{{country.name.common}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.population | number}}</td>
        <td>
          <a [routerLink]="['/countries/by/', country.cca3]">Ver más</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
